parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    excludes_analyse:
        - src/Generic/Web/Controllers/GenericUpdateController.php
        - src/Generic/Web/Controllers/GenericListController.php
        - src/Generic/Web/Controllers/GenericDetailController.php
        - src/Generic/Web/Controllers/GenericDeleteController.php
        - src/Generic/Api/Trait/Security.php 