<h2 class="text-center mb-4">{{ translationService.translate('register') }}</h2>
<form class="form" (ngSubmit)="onSubmit()" #registerForm="ngForm" id="registerForm">
  <div class="mb-3">
    <div class="input-group has-validation">
      <span class="input-group-text" id="emailGroupPrepend">@</span>
      <input
        formId = 'email' 
        form="registerForm" 
        type="text" 
        class="form-control" 
        id="email" 
        aria-describedby="emailGroupPrepend emailFeedback" 
        [(ngModel)]="email" 
        (keyup) ="validLogin()"
        placeholder="{{ translationService.translate('loginIn') }}"  
        name="email"     
        required>
      <div id="emailFeedback" formFeedback="email" class="invalid-feedback mt-3"></div>
    </div>
  </div>
  <div class="mb-3">
    <div class="input-group has-validation">
      <span class="input-group-text" id="passwordShow" (click)="showPassword()"><i class="{{showPasswordIcon}}"></i></span>
      <input 
        formId = 'password' 
        form="registerForm" 
        type="password" 
        class="form-control" 
        id="password" 
        aria-describedby="passwordShow passwordFeedback" 
        placeholder="{{ translationService.translate('password') }}" 
        name="password" 
        (keyup) ="passwordStrength()"
        [(ngModel)]="password" 
        required
      >
      <div id="passwordFeedback" formFeedback="password" class="invalid-feedback"></div>
    </div>
  </div>
  <div class="mb-3">
    <div class="input-group has-validation">
        <span class="input-group-text" id="repartPasswordShow" (click)="showRepeatPassword()">
          <i class="{{showPasswordRepeatIcon}}"></i>
        </span>

        <input
          formId = 'repeatPassword' 
          form="registerForm" 
          type="password" 
          class="form-control" 
          id="repeatPassword" 
          placeholder="{{ translationService.translate('repeatPassword') }}" 
          aria-describedby="repartPasswordShow repartPasswordFeedback" 
          name="repeatPassword" 
          [(ngModel)]="repeatPassword" 
          required
        >
          <div id="repartPasswordFeedback" formFeedback="repeatPassword" class="invalid-feedback"></div>
    </div>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-primary btn-lg w-100">{{ translationService.translate('register') }}</button>
    <a routerLink="/forgot-password" class="btn btn-link mt-3">{{ translationService.translate('forgotPassword') }}</a>
    <a routerLink="/login" class="btn btn-link mt-3">{{ translationService.translate('login') }}</a>
  </div>
</form>