.form{
  margin-left: 25%;
  padding: 0px;
  width: 50%;
}
.btn{
  margin-left: 10px;
  background-color: rgba(62, 142, 168, 0.474);
  color: white;
}

.btn:hover{
  background-color: rgb(62, 142, 168);
}