<div class="footer">
  <img src="{{getCorrectLang()}}" class="flag" data-bs-toggle="modal" data-bs-target="#exampleModal">
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ translationService.translate('chooseLang') }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="lang-list">
          <li *ngFor="let lang of languages" (click)="langChosen(lang.key)" [ngClass]="{ 'chosenOpacity': isChosen(lang.key) }" [ngClass]="{ 'notChosenOpacity': !isChosen(lang.key) }" >
            <img class="flag" src="{{lang.flag}}">{{ lang.name }}
          </li>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="langSaved()" type="button" class="btn btn-primary">{{ translationService.translate('save') }}</button>
      </div>
    </div>
  </div>
</div>