@import "../../../../../scss/navbar";

.footer{
  text-align: right;
  color: $navbar-font-color;
  background-color: $main-color;
  border-top: $border-bottom;
  height: 60px;

  .flag{
    margin: 10px;
    width: 20px;
    height: 20px;
  }
}

.modal{
  .flag{
    width: 50px;
    height: 50px;
  }
}

.chosenOpacity{
  opacity: 1;
}

.notChosenOpacity{
  opacity: 0.6;
}

.lang-list{
  list-style: none;
  li{
    margin: 10px;
  }
  img{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    font-style: italic;
  }
}