@import '../../../../../../styles.scss';


.circle-icon:hover {
    background-color: $bottom-color;
    color: white; 
    transform: scale(1.1);
    transition: transform 1s ease, color 1s ease; 
  }

.circle-icon-active{
    background-color: $bottom-color; 
    color: white; 
    transform: scale(1.1);
}
  
.circle-icon {
    margin-left: 5px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
}

  .circle-icon i {
    position: relative;
    z-index: 1;
    font-size: 24px; 
  }
  

  .message-count {
    color: $navbar-hover;
    font-weight: 1000; 
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 16px;
  }