<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item navbar-icon">
      <div class="circle-icon" data-bs-toggle="modal" data-bs-target="#notificationModal" [ngClass]="{'circle-icon-not-active': !userNotification}" [ngClass]="{'circle-icon-active': userNotification}">
        <i class="fa-sharp fa-solid fa-bell "></i>
        <span *ngIf="userNotification" class="message-count" >{{ userNotification }}</span>
      </div>
      <div class="circle-icon" data-bs-toggle="modal" data-bs-target="#messagesModal" [ngClass]="{'circle-icon-not-active': !userMessage}" [ngClass]="{'circle-icon-active': userMessage}">
        <i class="fa-solid fa-message"></i>
        <span *ngIf="userMessage" class="message-count">{{ userMessage }}</span>
      </div>
      <div class="circle-icon circle-icon-not-active" data-bs-toggle="modal" data-bs-target="#userProfileModal">
        <i class="fas fa-user"></i>
      </div>
    </li>
  </ul>


<notification-model></notification-model>
<messages-model></messages-model>
<user-profile-modal></user-profile-modal>