<i class="fa-solid fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editDescriptions"></i>

<div class="modal fade" id="editDescriptions" tabindex="-1" aria-labelledby="editDescriptionsLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <form class="form" (ngSubmit)="onSubmit()" #descriptionsForm="ngForm" id="descriptionsForm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-6">
            <h1 class="modal-title fs-5" id="editDescriptionsLabel">{{translationService.translate('edit')}} : {{ translationService.translate('descriptions') }}</h1>
          </div>
          <div class="col-3">
            <i *ngIf = "mode == 'form'" class="fa-solid fa-arrow-down" (click) = "scraperSwitch()"></i>
            <i *ngIf = "mode == 'scraper'" class="fa-solid fa-file" (click) = "scraperSwitch()"></i>
          </div>
          <div class="col-3">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>

        <div class="modal-body">
          <div *ngIf = "mode == 'form'">
            <div *ngFor="let language of languagesForm">
              <div *ngIf="language.active">
                <div class="row descriptions-item">
                  <div class="col-2">
                    <label for="{{language.key}}"> {{ translationService.getLanguageName(language.key) }} </label>
                  </div>

                  <div class="col-10">
                    <textarea 
                      rows="10"
                      class="form-control" 
                      type="text" 
                      id="{{language.key}}" 
                      [(ngModel)]="language.value" 
                      name="{{language.key}}"
                    >
                    </textarea>
                  </div>
                </div>  
              </div>
            </div> 

            <div *ngIf="!allLanguage" (click) = "showAllLanguage()"> show more language </div>

            <div *ngIf="allLanguage">
              <div *ngFor="let language of languagesForm">
                <div *ngIf="!language.active">
                  <div class="row descriptions-item">

                    <div class="col-2">
                      <label for="{{language.key}}"> {{ translationService.getLanguageName(language.key) }} </label>
                    </div>

                    <div class="col-10">
                      <textarea 
                        rows="10"
                        class="form-control" 
                        type="text" 
                        id="{{language.key}}" 
                        [(ngModel)]="language.value" 
                        name="{{language.key}}"
                      >
                      </textarea>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>  
          </div>

          <div *ngIf = "mode == 'scraper'">
            <div *ngFor="let scraperUrl of languagesScraper">
              <div class="row languages">
                <div class="col-4">
                  <label for="eng" class="col-sm-2 col-form-label">{{ translationService.getLanguageName(scraperUrl.key) }}</label>
                </div>
                  <div class="col-8">
                    <input 
                      type="text" 
                      requestId = "fr" 
                      class="form-control item" 
                      id="{{scraperUrl.index}}"  
                      [(ngModel)]="scraperUrl.value" 
                      name="{{scraperUrl.key}}"
                      required
                    >
                  <div class="invalid-feedback" formFeedback = "multi-error" id="fF{{scraperUrl.index}}"></div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>