<div class="modal fade" id="editDescriptions" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{translationService.translate('edit')}} : {{ translationService.translate('descriptions') }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form class="form" (ngSubmit)="onSubmit()" #descriptionsForm="ngForm" id="descriptionsForm">
          <div *ngFor="let language of languagesForm">
            <div *ngIf="language.active">
              <div class="row descriptions-item">

                <div class="col-2">
                  <label for="{{language.key}}">{{language.key | uppercase}}</label>
                </div>

                <div class="col-10">
                  <textarea 
                    rows="10"
                    class="form-control" 
                    type="text" 
                    id="{{language.key}}" 
                    [(ngModel)]="language.value" 
                    name="{{language.key}}"
                  >
                  </textarea>
                </div>

              </div>
            </div>
          </div>

          <div *ngIf="!allLanguage" (click) = "showAllLanguage()"> show more language </div>

          <div *ngIf="allLanguage">
            <div *ngFor="let language of languagesForm">
              <div *ngIf="!language.active">
                <div class="row descriptions-item">

                  <div class="col-2">
                    <label for="{{language.key}}">{{language.key | uppercase}}</label>
                  </div>

                  <div class="col-10">
                    <textarea 
                      rows="10"
                      class="form-control" 
                      type="text" 
                      id="{{language.key}}" 
                      [(ngModel)]="language.value" 
                      name="{{language.key}}"
                    >
                    </textarea>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
          
        </form>
        
      </div>

  </div>
</div>
