.card-content{
    margin-top: 20px;
    position: relative;

    .card-edit{
        position: absolute;
        right: 2%;
        top:0;
    }

    .cart-show-more {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}